{% load static %}
<!DOCTYPE html>
<!-- Coding by CodingNepal || www.codingnepalweb.com -->
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Boxicons CSS -->
    <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link rel="stylesheet" href="sweetalert2.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <link rel="stylesheet" href="{% static 'css/form1.css' %}">
    <title>inventory</title>
    <link rel="stylesheet" href="{% static 'css/style1.css' %} ">
  </head>
  <body>
    <!-- navbar -->
   

    <!-- sidebar -->
    <nav class="sidebar">
      <div class="menu_content">
        <ul class="menu_items">
          <div class="menu_title menu_dahsboard"></div>
          <li class="item">
            <a href="{% url 'analitic' %}" class="nav_link">
              <span class="navlink_icon">
                <i class="bi bi-bar-chart"></i>
              </span>
              <span class="navlink">Analytic</span>
            </a>
          <!-- duplicate or remove this li tag if you want to add or remove navlink with submenu -->
          <!-- start -->
          <!--<li class="item">
            <div href="#" class="nav_link submenu_item">
              <span class="navlink_icon">
                <i class="bx bx-home-alt"></i>
              </span>
              <span class="navlink">Home</span>
              <i class="bx bx-chevron-right arrow-left"></i>
            </div>

            <ul class="menu_items submenu">
              <a href="{% url 'welcome' %}" class="nav_link sublink">Nav Sub Link</a>
              <a href="#" class="nav_link sublink">Nav Sub Link</a>
              <a href="#" class="nav_link sublink">Nav Sub Link</a>
              <a href="#" class="nav_link sublink">Nav Sub Link</a>
            </ul>
          </li> 
          <!-- end -->

          <!-- duplicate this li tag if you want to add or remove  navlink with submenu -->
          <!-- start 
          <li class="item">
            <div href="#" class="nav_link submenu_item">
              <span class="navlink_icon">
                <i class="bx bx-grid-alt"></i>
              </span>
              <span class="navlink">Overview</span>
              <i class="bx bx-chevron-right arrow-left"></i>
            </div>

            <ul class="menu_items submenu">
              <a href="#" class="nav_link sublink">Nav Sub Link</a>
              <a href="#" class="nav_link sublink">Nav Sub Link</a>
              <a href="#" class="nav_link sublink">Nav Sub Link</a>
              <a href="#" class="nav_link sublink">Nav Sub Link</a>
            </ul>
          </li>
          -->
          <!-- end -->
        </ul>

        <ul class="menu_items">
          <div class="menu_title menu_editor"></div>
          <li class="item">
            <a href="{% url 'barangmasuk' %}" class="nav_link">
              <span class="navlink_icon">
                <i class="bi bi-database-add"></i>
              </span>
              <span class="navlink">Barang Masuk</span>
            </a>
          </li>
          <li class="item">
            <a href="{% url 'barangkeluar' %}" class="nav_link">
              <span class="navlink_icon">
                <i class="bi bi-database-dash"></i>
              </span>
              <span class="navlink">Barang Keluar</span>
            </a>
          </li>

        </ul>
        <ul class="menu_items">
          <div class="menu_title menu_setting"></div>
          <li class="item">
            <a href="{% url 'tbdatabarang' %}" class="nav_link">
              <span class="navlink_icon">
                <i class="bi bi-table"></i>
              </span>
              <span class="navlink">Data Barang</span>
            </a>
          </li>
          <li class="item">
            <a href="{% url 'riwayatdata' %}" class="nav_link">
              <span class="navlink_icon">
                <i class="bi bi-dropbox"></i>
              </span>
              <span class="navlink">Riwayat Data</span>
            </a>
          </li>
        </ul>
        <!-- Sidebar Open / Close -->
        <div class="bottom_content">
          <div class="bottom expand_sidebar">
            <span> Expand</span>
            <i class='bx bx-log-in' ></i>
          </div>
          <div class="bottom collapse_sidebar">
            <span> Collapse</span>
            <i class='bx bx-log-out'></i>
          </div>
        </div>
      </div>
    </nav>
  <section class="dashboard">
    <nav class="navbar">
      <div class="logo_item">
        <i class="bx bx-menu" id="sidebarOpen"></i>
        <img src="{% static 'image/logo.png'%}" alt=""></i>CodingNepal
      </div>

      <div class="search_bar">
        <input type="text" placeholder="Search" />
      </div>

      <div class="navbar_content">
        <i class="bi bi-grid"></i>
        <i class='bx bx-sun' id="darkLight"></i>
        <i class='bx bx-bell' ></i>
        <img src="{% static 'image/profile.jpg' %}" alt="" class="profile" />
      </div>
    </nav>
    {% block content %}
    
    {% endblock content %}
  </section>
      
  {% for msg in messages%}
  {% if msg.tags == 'error' %}
  <script>
    Swal.fire({
      icon: 'error',
      title: 'Oops...',
      text: '{{ msg }}',
    })
  </script>
  {% else %}
  <script>
    Swal.fire(
    '{{ msg }}',
    'You clicked the button!',
    'success'
  )
  </script>
  {% endif %}
  {% endfor %}
    <!-- JavaScript -->
    {% comment %} <script src="script.js"></script> {% endcomment %}
    
    <script src="sweetalert2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </body>
</html>