{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<link rel="stylesheet" href="sweetalert2.min.css">
<div class="row gx-5">
  <div class="col-3">
    <div class="container-grid">
      <header>Barang Masuk</header>
    <form method="post" action="{% url 'kategory' %}">
        {% csrf_token %}
        <div class="#">
          <div class="input-field">
              <label>Kategory</label>
              <input type="text" placeholder="Enter your IP" id="kategori" name="kategori" required>
          </div>
        </div>
        <button class="btn btn-primary" type="submit">
          <span class="btnText">Submit</span>
      </button>
    </form>

    </div>
  </div>
  <div class="col-8">
    <div class="container">
      <body>
            <h2 class="title">Kategory</h2>
            <table class="table">
                <thead>
                    <tr>
                        <td scope="col">#</td>
                        <td scope="col">Nama Kategori</td>
                        <td scope="col">Action<td>
                    </tr>
                </thead>
                <tbody>
                  {% for k in kategori %}
                  <tr>
                    <td scope="row">{{ forloop.counter }}</td>
                    <td>{{ k.kategori }}</td>
                    <td>
                        
                          <a href="#"
                            class="btn btn-danger btn-sm delete-button"
                            data-bs-toggle="modal"
                            data-bs-target="#exampleModalToggle{{ k.id }}"
                            >Delete</a>
                          <center>
                          <div class="modal fade" id="exampleModalToggle{{ k.id }}" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                            <div class="modal-dialog modal-dialog-centered">
                              <div class="modal-content">
                                <div class="modal-body mb-5">
                                  <h1><i class="bi bi-question-circle "></i></h1>
                                  <h5 class="modal-title" id="exampleModalToggleLabel">Are you sure?</h5>
                                </div>
                                <div class="mb-3">
                                  <a href="#" class="btn btn-primary" data-bs-dismiss="modal">Cancel</a>
                                  <a href="{% url 'deletekategori' k.id %}" class="btn btn-danger">Delete</a>
                                </div>
                              </div>
                            </div>
                          </div>
                        </center>

                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
                
            </table>
    </body>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="sweetalert2.min.js"></script>
{% endblock content %}
