{% extends "base.html" %}
{% block content %}
<!DOCTYPE html>
<!-- Coding By CodingNepal - codingnepalweb.com -->
<link rel="stylesheet" href="sweetalert2.min.css">
<body>
    <div class="container">
        <header>Barang Keluar</header>

        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form first">
                <div class="details personal">
                    <span class="title">Details</span>

                    <div class="fields">
                        <div class="input-field">
                            <label>Device</label>
                            <input type="text" placeholder="Enter your IP" name="device" value="{{ form_data.device }}">
                        </div>

                        <div class="input-field">
                            <label>User</label>
                            <input type="text" placeholder="Enter your user" name="user" value="{{ form_data.user }}">
                        </div>

                        <div class="input-field">
                            <label>Email</label>
                            <input type="text" placeholder="Enter your email" name="email" value="{{ form_data.email }}">
                        </div>

                        <div class="input-field">
                            <label>PC/Laptop</label>
                            <input type="text" placeholder="Enter your Device" name="pc" value="{{ form_data.pc }}">
                        </div>

                        <div class="input-field">
                            <label>Operating System</label>
                            <input type="text" placeholder="Enter your OS" name="os" value="{{ form_data.os }}">
                        </div>

                        <div class="input-field">
                            <label>CPU</label>
                            <input type="text" placeholder="Enter CPU type" name="cpu" value="{{ form_data.cpu }}">
                        </div>
                    </div>
                </div>

                <div class="details ID">
                    <div class="fields">
                        <div class="input-field">
                            <label>VGA</label>
                            <input type="text" placeholder="Enter VGA type" name="vga" value="{{ form_data.vga }}">
                        </div>

                        <div class="input-field">
                            <label>RAM</label>
                            <input type="text" placeholder="Enter RAM type" name="ram" value="{{ form_data.ram }}">
                        </div>

                        <div class="input-field">
                            <label>Model</label>
                            <input type="text" placeholder="Enter your model" name="model" value="{{ form_data.model }}">
                        </div>

                        <div class="input-field">
                            <label>Serial Number</label>
                            <input type="text" placeholder="Enter serial number" name="serialnumber" value="{{ form_data.serialnumber }}">
                        </div>

                        <div class="input-field">
                            <label>Description</label>
                            <input type="text" placeholder="Enter Description" name="description" value="{{ form_data.description }}">
                        </div>
                        <div class="input-field">
                            <label>Kategori</label>
                            <select required name="kategori">
                                <option disabled selected required>Select kategori</option>
                                {% for k in kategori %}
                                    {% if form_data.kategori == k.kategori %}
                                        <option value="{{ k.id }}" selected>{{ k.kategori }}</option>
                                    {% else %}
                                        <option value="{{ k.id }}">{{ k.kategori }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <button class="submit" type="submit" name="submit_form" value="submit">
                        <span class="btnText">Submit</span>
                    </button>
                </div> 
            </div>
        </form>
    </div>

    {% for msg in messages%}
    {% if msg.tags == 'error' %}
    <script>
        Swal.fire({
        icon: 'error',
        title: 'Oops...',
        text: '{{ msg }}',
        })
    </script>
    {% else %}
    <script>
        Swal.fire(
        '{{ msg }}',
        'You clicked the button!',
        'success'
    )
    </script>
    {% endif %}
    {% endfor %}
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="sweetalert2.min.js"></script>
</body>
</html>
{% endblock content %}
