{% extends "base.html" %} {% block content %}
<!--<div class="container rounded-1">
  <h2 class="title">Tabel Lokasi</h2>
  <br />
  <button
    class="btn btn-success mt-2"
    data-bs-toggle="modal"
    data-bs-target="#loginModal"
  >
    Tambah Lokasi
  </button>
  <br />

  <br />
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <td>No</td>
          <td>Name Location</td>
          <td>Actions</td>
        </tr>
      </thead>
      <tbody>
        {% for k in lokasi %}
        <tr>
          <td>{{ forloop.counter }}</td>

          <td>{{ k.lokasi }}</td>

          <td>
            <a
              href="#"
              class="btn btn-danger btn-sm delete-button"
              data-bs-toggle="modal"
              data-bs-target="#exampleModalToggle{{ k.id }}"
              >Delete</a
            >
            <center>
              <div
                class="modal fade"
                id="exampleModalToggle{{ k.id }}"
                aria-hidden="true"
                aria-labelledby="exampleModalToggleLabel"
                tabindex="-1"
              >
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-body mb-5">
                      <h1><i class="bi bi-question-circle"></i></h1>
                      <h5 class="modal-title" id="exampleModalToggleLabel">
                        Are you sure?
                      </h5>
                    </div>
                    <div class="mb-3">
                      <a
                        href="#"
                        class="btn btn-primary"
                        data-bs-dismiss="modal"
                        >Cancel</a
                      >
                      <a
                        href="{% url 'deletelokasi' k.id %}"
                        class="btn btn-danger"
                        >Delete</a
                      >
                    </div>
                  </div>
                </div>
              </div>
            </center>
          </td>
        </tr>

        {% endfor %}
      </tbody>
    </table>
  </div>
</div>-->
<!--Register-->
<!--<div
  class="modal fade"
  id="loginModal"
  tabindex="-1"
  aria-labelledby="loginModalLabel"
  aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalLabel">Tambah Lokasi</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form action="{% url 'lokasi' %}" method="POST">
          {% csrf_token %}
          <div class="mb-3">
            <label for="firstname" class="form-label">Lokasi</label>
            <input
              type="text"
              class="form-control"
              id="lokasi"
              name="lokasi"
              required
            />
          </div>

          <button type="submit" class="btn btn-primary">Tambah</button>
        </form>
      </div>
    </div>
  </div>
</div>-->
<!--Batas bener-->
<div class="m-4 cardnav">
  <div class="card">
    <div class="card-header">
      <ul class="nav nav-tabs card-header-tabs" id="myTab">
        <li class="nav-item">
          <a href="#home" class="nav-link active title" data-bs-toggle="tab"
            >Barang</a
          >
        </li>
        <li class="nav-item">
          <a href="#profile" class="nav-link title" data-bs-toggle="tab"
            >Lokasi</a
          >
        </li>
      </ul>
    </div>
    <div class="card-body">
      <div class="tab-content p-4">
        <div class="tab-pane fade show active" id="home">
          <h2 class="title">Daftar barang sesuai lokasi</h2>
          <br />

          {% for lokasi, data_barang in data_barang_per_kategori.items %}

          <h3 class="title">{{ lokasi.lokasi }}</h3>
          <div class="row">
            <table class="table">
              <thead>
                <tr>
                  <td>No</td>
                  <td>Status</td>
                  <td>Device</td>
                  <td>User</td>
                  <td>PC/Laptop</td>
                  <td>OS</td>
                  <td>CPU</td>
                  <td>VGA</td>
                  <td>RAM</td>
                  <td>Model</td>
                  <td>Serial Number</td>
                  <!-- Tambahkan kolom lainnya sesuai kebutuhan -->
                </tr>
              </thead>
              <tbody>
                {% for barang in data_barang %}

                <tr>
                  <td>{{ forloop.counter }}</td>
                  <td>
                    {% if barang.status == "in" %}
                    <span class="badge bg-success">in Stock</span>
                    {% else %}
                    <span class="badge bg-danger">out Stock</span>
                    {% endif %}
                  </td>
                  <td>{{ barang.device }}</td>
                  <td>{{ barang.user }}</td>
                  <td>{{ barang.pc}}</td>
                  <td>{{ barang.os}}</td>
                  <td>{{ barang.cpu}}</td>
                  <td>{{ barang.vga}}</td>
                  <td>{{ barang.ram}}</td>
                  <td>{{ barang.model}}</td>
                  <td>{{ barang.serialnumber}}</td>
                  <!-- Tambahkan kolom lainnya sesuai kebutuhan -->
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <br />
          {% endfor %}
        </div>
        <div class="tab-pane fade" id="profile">
          <h2 class="title">Tabel Kategori</h2>
          <br />
          <button
            class="btn btn-success mt-2"
            data-bs-toggle="modal"
            data-bs-target="#loginModal"
          >
            Tambah Lokasi
          </button>
          <br />

          <br />
          <div class="row">
            <table class="table">
              <thead>
                <tr>
                  <td>No</td>
                  <td>Name Location</td>
                  <td>Actions</td>
                </tr>
              </thead>
              <tbody>
                {% for l in lokasi %}
                <tr>
                  <td>{{ forloop.counter }}</td>

                  <td>{{ l.lokasi }}</td>

                  <td>
                    <a
                      href="#"
                      class="btn btn-danger btn-sm delete-button"
                      data-bs-toggle="modal"
                      data-bs-target="#exampleModalToggle{{ l.id }}"
                      >Delete</a
                    >
                    <center>
                      <div
                        class="modal fade"
                        id="exampleModalToggle{{ l.id }}"
                        aria-hidden="true"
                        aria-labelledby="exampleModalToggleLabel"
                        tabindex="-1"
                      >
                        <div class="modal-dialog modal-dialog-centered">
                          <div class="modal-content">
                            <div class="modal-body mb-5">
                              <h1><i class="bi bi-question-circle"></i></h1>
                              <h5
                                class="modal-title"
                                id="exampleModalToggleLabel"
                              >
                                Are you sure?
                              </h5>
                            </div>
                            <div class="mb-3">
                              <a
                                href="#"
                                class="btn btn-primary"
                                data-bs-dismiss="modal"
                                >Cancel</a
                              >
                              <a
                                href="{% url 'deletelokasi' l.id %}"
                                class="btn btn-danger"
                                >Delete</a
                              >
                            </div>
                          </div>
                        </div>
                      </div>
                    </center>
                  </td>
                </tr>

                {% endfor %}
              </tbody>
            </table>
          </div>

          <!--Register-->
          <div
            class="modal fade"
            id="loginModal"
            tabindex="-1"
            aria-labelledby="loginModalLabel"
            aria-hidden="true"
          >
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="loginModalLabel">
                    Tambah Lokasi
                  </h5>
                  <button
                    type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"
                  ></button>
                </div>
                <div class="modal-body">
                  <form action="{% url 'lokasi' %}" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                      <label for="lokasi" class="form-label">Lokasi</label>
                      <input
                        type="text"
                        class="form-control"
                        id="lokasi"
                        name="lokasi"
                        required
                      />
                    </div>
                    <button type="submit" class="btn btn-primary">
                      Tambah
                    </button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
