{% extends "base.html" %} {% block content %}

<div class="container-fluid px-5 col-2 rounded-1">
  <h2 class="title">Data Barang</h2>
  <br />
  <!-- Button trigger modal -->
  <button
    type="button"
    class="btn btn-success me-2"
    data-bs-toggle="modal"
    data-bs-target="#tambah"
  >
    <a href="{% url 'barangmasuk' %}" class="btn btn-success">Tambah</a>
  </button>
  <div class="row g-3 align-item-center mt-2 mb-4">
    <div class="col-auto">
      <form
        class="d-flex"
        role="search"
        method="post"
        action="{% url 'tbdatabarang' %}"
      >
        {% csrf_token %}
        <input
          class="form-control me-2 py-2"
          type="search"
          name="search"
          placeholder="Search"
          aria-label="Search"
        />
      </form>
    </div>
    <div class="col-auto">
      <form
        class="d-flex"
        role="search"
        method="post"
        action="{% url 'tbdatabarang' %}"
      >
        {% csrf_token %}
        <select
          id="inputState"
          class="form-control py-0 px-4 m-0"
          name="kategori"
          onchange="this.form.submit()"
        >
          <option selected>Search Category</option>
          {% for d in kategori %}
          <option value="{{d.kategori}}">{{d.kategori}}</option>
          {% endfor %}
          
        </select>
        
      </form>
    </div>
    <!-- <div class="col-auto">
      <form
        class="d-flex"
        role="search"
        method="post"
        action="{% url 'tbdatabarang' %}"
      >
        {% csrf_token %}
        <select
          id="inputState"
          class="form-control py-0 px-4 m-0"
          name="lokasi"
          onchange="this.form.submit()"
        >
          <option selected>Search Lokasi</option>
          {% for k in lokasi %}
          <option value="{{k.lokasi}}">{{k.lokasi}}</option>
          {% endfor %}
          
        </select>
        
      </form>
    </div> -->
  </div>
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <td class="col">No</td>
          <td class="col-1">DateIn</td>
          <td class="col-1">Device</td>
          <td class="col-1">User</td>
          <td class="col-1">Lokasi</td>
          <td class="col-1">PC/Laptop</td>
          <td class="col-1">OS</td>
          <td class="col-1">CPU</td>
          <td class="col-1">VGA</td>
          <td class="col-1">RAM</td>
          <td class="col-1">Model</td>
          <td class="col-1">Serial Number</td>
          <td class="col">Kategory</td>
          <td class="col">Description</td>
          <td class="col-4"><center>Action</center></td>
        </tr>
      </thead>
      {% if not results %}
      <tbody>
        {% for data in barang %}
        <tr>
          <td>{{forloop.counter}}</td>
          <td>{{data.date}}</td>
          <td>{{data.device}}</td>
          <td>{{data.user}}</td>
          <td>{{data.lokasi}}</td>
          <td>{{data.pc}}</td>
          <td>{{data.os}}</td>
          <td>{{data.cpu}}</td>
          <td>{{data.vga}}</td>
          <td>{{data.ram}}</td>
          <td>{{data.model}}</td>
          <td>{{data.serialnumber}}</td>
          <td>{{data.kategori}}</td>
          <td>{{data.description}}</td>
          <td>
            <center>
              <center>
                <a
                  href="{% url 'edititem' data.id %}"
                  class="btn btn-warning btn-sm"
                  >Edit</a
                >
                <a
                  href="#"
                  class="btn btn-danger btn-sm" data-bs-target="#exampleModalToggle" data-bs-toggle="modal"
                  >Delete</a
                >
                <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                  <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                          <div class="modal-body mb-5">
                              <h1><i class="bi bi-question-circle "></i></h1>
                              <h5 class="modal-title" id="exampleModalToggleLabel">Are you sure?</h5>
                          </div>
                          <div class="mb-3">
                              <a href="{% url 'tbdatabarang' %}" class="btn btn-primary">Cancel</a>
                              <a href="{% url 'deleteitem' data.id %}" class="btn btn-danger">Delete</a>
                          </div>
                      </div>
                  </div>
              </div>
              
                  </div>
                </div>
              </center>
            </center>
          </td>
        </tr>
        {% endfor %}
      </tbody>
      
      {% elif get_search != "None" %}
    
      <tbody>
        {% for data in results %}
        <tr>
          <td>{{forloop.counter}}</td>
          <td>{{data.date}}</td>
          <td>{{ data.device }}</td>
          <td>{{data.user}}</td>
          <td>{{data.lokasi}}</td>
          <td>{{data.pc}}</td>
          <td>{{data.os}}</td>
          <td>{{data.cpu}}</td>
          <td>{{data.vga}}</td>
          <td>{{data.ram}}</td>
          <td>{{data.model}}</td>
          <td>{{data.serialnumber}}</td>
          <td>{{data.kategori}}</td>
          <td>{{data.description}}</td>
          <td>
            <center>
              <center>
                <a
                  href="{% url 'edititem' data.id %}"
                  class="btn btn-warning btn-sm"
                  >Edit</a
                >
                <a
                  href="#"
                  class="btn btn-danger btn-sm" data-bs-target="#exampleModalToggle" data-bs-toggle="modal"
                  >Delete</a
                >
                <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                  <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                          <div class="modal-body mb-5">
                              <h1><i class="bi bi-question-circle "></i></h1>
                              <h5 class="modal-title" id="exampleModalToggleLabel">Are you sure?</h5>
                          </div>
                          <div class="mb-3">
                              <a href="{% url 'tbdatabarang' %}" class="btn btn-primary">Cancel</a>
                              <a href="{% url 'deleteitem' data.id %}" class="btn btn-danger">Delete</a>
                          </div>
                      </div>
                  </div>
              </div>
              </center>
            </center>
          </td>
        </tr>
        {% endfor %}
      </tbody>
      {% elif get_kategori != "None" %}
      <tbody>
        {% for data in results %}
        <tr>
          <td>{{forloop.counter}}</td>
          <td>{{data.date}}</td>
          <td>{{ data.device }}</td>
          <td>{{data.user}}</td>
          <td>{{data.lokasi}}</td>
          <td>{{data.pc}}</td>
          <td>{{data.os}}</td>
          <td>{{data.cpu}}</td>
          <td>{{data.vga}}</td>
          <td>{{data.ram}}</td>
          <td>{{data.model}}</td>
          <td>{{data.serialnumber}}</td>
          <td>{{data.kategori}}</td>
          <td>{{data.description}}</td>
          <td>
            <center>
              <center>
                <a
                  href="{% url 'edititem' data.id %}"
                  class="btn btn-warning btn-sm"
                  >Edit</a
                >
                <a
                  href="#"
                  class="btn btn-danger btn-sm" data-bs-target="#exampleModalToggle" data-bs-toggle="modal"
                  >Delete</a
                >
                <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                  <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                          <div class="modal-body mb-5">
                              <h1><i class="bi bi-question-circle "></i></h1>
                              <h5 class="modal-title" id="exampleModalToggleLabel">Are you sure?</h5>
                          </div>
                          <div class="mb-3">
                              <a href="{% url 'tbdatabarang' %}" class="btn btn-primary">Cancel</a>
                              <a href="{% url 'deleteitem' data.id %}" class="btn btn-danger">Delete</a>
                          </div>
                      </div>
                  </div>
              </div>
                
              </center>
            </center>
          </td>
        </tr>
        {% endfor %}
      </tbody>
      {% endif %}
    </table>
  </div>
</div>
 <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

{% endblock content %}
