{% extends "base.html" %} {% block content %}

<div class="container-fluid px-5 col-2 rounded-1">
  <h2 class="title">Riwayat Data Barang</h2>
  <br />
  <!-- Button trigger modal -->

  <div class="row g-3 align-item-center mt-2 mb-4">
    <div class="col-auto">
      <form
        class="d-flex"
        role="search"
        method="post"
        action="{% url 'riwayatdata' %}"
      >
        {% csrf_token %}
        <input
          class="form-control me-2 py-2"
          type="search"
          name="search"
          placeholder="Search"
          aria-label="Search"
        />
      </form>
    </div>
    <div class="col-auto">
      <form
        class="d-flex"
        role="search"
        method="post"
        action="{% url 'riwayatdata' %}"
      >
        {% csrf_token %}
        <select
          id="inputState"
          class="form-control py-0 px-4 m-0"
          name="kategori"
          onchange="this.form.submit()"
        >
          <option selected>Search Category</option>
          {% for d in kategori %}
          <option value="{{d.kategori}}">{{d.kategori}}</option>
          {% endfor %}
        </select>
      </form>
    </div>
    
    <div>
      <div class="d-flex align-items-center">
        <form
          action="{% url 'exportcsv' %}"
          class="d-flex align-items-center row g-3"
        >
          {% csrf_token %}
          <div class="form-check form-switch col-auto">
            <input
              class="form-check-input"
              type="checkbox"
              role="switch"
              id="flexSwitchCheckChecked"
              onclick="myFunction()"
              checked
            />
            <label
              class="form-check-label"
              id="labelcsv"
              for="flexSwitchCheckChecked"
              >Export to Csv</label
            >
          </div>
          <button type="submit" class="col-auto btn btn-success" id="exp">
            Export
          </button>
        </form>
        <div class="row m-lg-0">
          <div class="col">
            <button type="button" class="btn btn-danger" id="deleteSelected">Delete Selected</button>
          </div>
      </div>
      </div>
     
    </div>
  </div>
  
  <div class="row">
    <form id="deleteForm" method="post" action="{% url 'delete_selected' %}">
      {% csrf_token %}
      <table class="table">
        <thead>
          <tr>
           
            <td class="col">Selected</td>
            <td class="col">No</td>
            <td class="col">DateIn</td>
            <td class="col">DeteOut</td>
            <td class="col">Device</td>
            <td class="col">User</td>
            <td class="col">Email</td>
            <td class="col">PC/Laptop</td>
            <td class="col">OS</td>
            <td class="col">CPU</td>
            <td class="col">VGA</td>
            <td class="col">RAM</td>
            <td class="col">Model</td>
            <td class="col">Serial Number</td>
            <td class="col">Kategory</td>
            <td class="col">Description</td>
            <td class="col"><center>Action</center></td>
          </tr>
        </thead>
        {% if not results %}
        <tbody>
          {% for data in riwayatDT %}
          <tr>
            <td>
              <input
                type="checkbox"
                class="form-check-input"
                name="selected_items"
                value="{{ data.id }}"
              />
            </td>
            <td>{{ forloop.counter }}</td>
            <td>{{ data.date_masuk }}</td>
            <td>{{ data.date_keluar }}</td>
            <td>{{ data.device }}</td>
            <td>{{ data.user }}</td>
            <td>{{ data.email }}</td>
            <td>{{ data.pclaptop }}</td>
            <td>{{ data.os }}</td>
            <td>{{ data.cpu }}</td>
            <td>{{ data.vga }}</td>
            <td>{{ data.ram }}</td>
            <td>{{ data.model }}</td>
            <td>{{ data.serialnumber }}</td>
            <td>{{ data.kategori }}</td>
            <td>{{ data.description }}</td>
            <td>
              <center>
                <center>
                  <a
                    href="#"
                    class="btn btn-danger btn-sm" data-bs-target="#exampleModalToggle" data-bs-toggle="modal"
                    >Delete</a
                  >
                  <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-body mb-5">
                                <h1><i class="bi bi-question-circle "></i></h1>
                                <h5 class="modal-title" id="exampleModalToggleLabel">Are you sure?</h5>
                            </div>
                            <div class="mb-3">
                                <a href="{% url 'riwayatdata' %}" class="btn btn-primary">Cancel</a>
                                <a href="{% url 'deleteitemkeluar' data.id %}" class="btn btn-danger">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                    </div>
                  </div>
                </center>
              </center>
            </td>
          </tr>
          {% endfor %}
        </tbody>
        {% elif get_search != "None" %}
        <tbody>
          {% for data in results %}
          <tr>
            <td>
              <input
                type="checkbox"
                class="form-check-input"
                name="selected_items"
                value="{{ data.id }}"
              />
            </td>
            <td>{{ forloop.counter }}</td>
            <td>{{ data.date_masuk }}</td>
            <td>{{ data.date_keluar }}</td>
            <td>{{ data.device }}</td>
            <td>{{ data.user }}</td>
            <td>{{ data.email }}</td>
            <td>{{ data.pclaptop }}</td>
            <td>{{ data.os }}</td>
            <td>{{ data.cpu }}</td>
            <td>{{ data.vga }}</td>
            <td>{{ data.ram }}</td>
            <td>{{ data.model }}</td>
            <td>{{ data.serialnumber }}</td>
            <td>{{ data.kategori }}</td>
            <td>{{ data.description }}</td>
            <td>
              <center>
                <center>
                  <a
                    href="#"
                    class="btn btn-danger btn-sm" data-bs-target="#exampleModalToggle" data-bs-toggle="modal"
                    >Delete</a
                  >
                  <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-body mb-5">
                                <h1><i class="bi bi-question-circle "></i></h1>
                                <h5 class="modal-title" id="exampleModalToggleLabel">Are you sure?</h5>
                            </div>
                            <div class="mb-3">
                                <a href="{% url 'riwayatdata' %}" class="btn btn-primary">Cancel</a>
                                <a href="{% url 'deleteitemkeluar' data.id %}" class="btn btn-danger">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                    </div>
                  </div>
                </center>
              </center>
            </td>
          </tr>
          {% endfor %}
        </tbody>
        {% elif get_kategori != "None" %}
        <tbody>
          {% for data in results %}
          <tr>
            <td>
              <input
                type="checkbox"
                class="form-check-input"
                name="selected_items"
                value="{{ data.id }}"
              />
            </td>
            <td>{{ forloop.counter }}</td>
            <td>{{ data.date_masuk }}</td>
            <td>{{ data.date_keluar }}</td>
            <td>{{ data.device }}</td>
            <td>{{ data.user }}</td>
            <td>{{ data.email }}</td>
            <td>{{ data.pclaptop }}</td>
            <td>{{ data.os }}</td>
            <td>{{ data.cpu }}</td>
            <td>{{ data.vga }}</td>
            <td>{{ data.ram }}</td>
            <td>{{ data.model }}</td>
            <td>{{ data.serialnumber }}</td>
            <td>{{ data.kategori }}</td>
            <td>{{ data.description }}</td>
            <td>
              <center>
                <center>
                  <a
                    href="#"
                    class="btn btn-danger btn-sm" data-bs-target="#exampleModalToggle" data-bs-toggle="modal"
                    >Delete</a
                  >
                  <div class="modal fade" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-body mb-5">
                                <h1><i class="bi bi-question-circle "></i></h1>
                                <h5 class="modal-title" id="exampleModalToggleLabel">Are you sure?</h5>
                            </div>
                            <div class="mb-3">
                                <a href="{% url 'riwayatdata' %}" class="btn btn-primary">Cancel</a>
                                <a href="{% url 'deleteitemkeluar' data.id %}" class="btn btn-danger">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
                
                    </div>
                  </div>
                </center>
              </center>
            </td>
          </tr>
          {% endfor %}
        </tbody>
        {% endif %}

        
        
      </table>
      
    </form>
  </div>
  
</div>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const deleteSelectedBtn = document.getElementById("deleteSelected");
    const checkboxes = document.querySelectorAll("[name='selected_items']");
  
    deleteSelectedBtn.addEventListener("click", function () {
      const selectedItems = [];
  
      checkboxes.forEach((checkbox) => {
        if (checkbox.checked) {
          selectedItems.push(checkbox.value);
        }
      });
  
      if (selectedItems.length > 0) {
        const deleteForm = document.getElementById("deleteForm");
        const input = document.createElement("input");
  
        input.setAttribute("type", "hidden");
        input.setAttribute("name", "selected_items");
        input.setAttribute("value", JSON.stringify(selectedItems));
  
        deleteForm.appendChild(input);
        deleteForm.submit();
  
        input.remove();
  
        alert("Items deleted successfully.");
  
      } else {
        alert("Please select at least one item.");
      }
    });
  });
  
</script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

{% endblock content %}
