{% extends "base.html" %} {% block content %}
<div class="container rounded-1">
  <h2 class="title ">Daftar Pengguna</h2>
  <br />
  <button
    class="btn btn-primary mt-2"
    data-bs-toggle="modal"
    data-bs-target="#loginModal"
  >
    Tambah
  </button>
  <br />
  <div class="pt-3">
    <p class="title"><b>Note**</b></p>
    <p class="title">
      Jika ingin mengedit, klik
      <span class="badge text-bg-dark">username</span> yang ingin di edit
      terlebih dahulu, lalu klik
      <span class="badge text-bg-warning">edit!</span>
    </p>
  </div>
  <br />
  <div class="row">
    <table class="table">
      <thead>
        <tr>
          <td>No</td>
          <td>Username</td>
          <td>first name</td>
          <td>last name</td>
          <td>email</td>
          <td>Status</td>
          <td>Action</td>
        </tr>
      </thead>
      <tbody>
        {% for a in user %}
        <tr>
          <td>{{ forloop.counter }}</td>
          <td>
            <a
              href="{% url 'edituser' a.id %}"
              class="badge text-bg-dark text-decoration-none hover-effect"
              >{{ a.username }}</a
            >
          </td>
          <td>{{ a.first_name }}</td>
          <td>{{ a.last_name }}</td>
          <td>{{ a.email }}</td>
          <td>
            {% if a.is_staff%}
            <span class="badge bg-success">Super Admin</span>
            {% else %}
            <span class="badge bg-danger">Admin</span>
            {% endif %}
          </td>
          <td>
            <button href="#" class="btn btn-warning">
              <a data-bs-toggle="modal" data-bs-target="#editModal">Edit</a>
            </button>

            <a href="{% url 'hapususer' a.id %}" class="btn btn-danger"
              >Delete</a
            >
          </td>
        </tr>

        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<!--Register-->
<div
  class="modal fade"
  id="loginModal"
  tabindex="-1"
  aria-labelledby="loginModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalLabel">Register</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form action="{% url 'register' %}" method="POST">
          {% csrf_token %}
          <div class="mb-3">
            <label for="firstname" class="form-label">firstname</label>
            <input
              type="text"
              class="form-control"
              id="username"
              name="first_name"
              required
            />
          </div>
          <div class="mb-3">
            <label for="lastname" class="form-label">lastname</label>
            <input
              type="text"
              class="form-control"
              id="username"
              name="last_name"
              required
            />
          </div>
          <div class="mb-3">
            <label for="username" class="form-label">username</label>
            <input
              type="text"
              class="form-control"
              id="username"
              name="username"
              required
            />
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">email</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              required
            />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              required
            />
          </div>
          <button type="submit" class="btn btn-primary">register</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!--Edit-->
<div
  class="modal fade"
  id="editModal"
  tabindex="-1"
  aria-labelledby="editModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel">Edit User</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <form action="{% url 'edituser' id_user %}" method="POST">
          {% csrf_token %}
          <div class="mb-3">
            <label for="firstname" class="form-label">firstname</label>
            <input
              type="text"
              class="form-control"
              id="username"
              name="first_name"
              value="{{users.first_name}}"
              required
            />
          </div>
          <div class="mb-3">
            <label for="lastname" class="form-label">lastname</label>
            <input
              type="text"
              class="form-control"
              id="username"
              name="last_name"
              value="{{users.last_name}}"
              required
            />
          </div>
          <div class="mb-3">
            <label for="username" class="form-label">username</label>
            <input
              type="text"
              class="form-control"
              id="username"
              name="username"
              value="{{users.username}}"
              required
            />
          </div>
          <div class="mb-3">
            <label for="email" class="form-label">email</label>
            <input
              type="email"
              class="form-control"
              id="email"
              name="email"
              value="{{users.email}}"
              required
            />
          </div>
          <div class="mb-3">
            <label for="password" class="form-label">password</label>
            <input
              type="password"
              class="form-control"
              id="password"
              name="password"
              value="{{users.password}}"
              required
            />
          </div>
          <button type="submit" class="btn btn-primary">Update</button>
        </form>
      </div>
    </div>
  </div>
</div>
<!--end edit-->
{% endblock content %}
